.product_preview {
  .text_block {
    margin-left: 1rem;
    &:first-child {
      margin-bottom: 0;
    }

    .lowercase {
      text-transform: lowercase;
    }
  }

  img {
    border-radius: 4px;             // Left in px as the image size is defined in px
    border: 1px solid #CACAD1;    // Not a fan of declaring the color here, but doesn't look like it's used anywhere else
  }
}
