@import "../../styles/ColorPallete.module.scss";

$main-container-vertical-padding: 2.5rem;
$main-container-primary-leading-padding: 3.5rem;
$main-container-primary-trailing-padding: 2rem;
$main-container-secondary-horizontal-padding: 2rem;

.main_container {
  min-height: 100vh;
  width: 100vw;

  .content {
    background-color: $color-background-primary;
    width: 1088px;
    height: 648px;

    .primary_view {
      padding: $main-container-vertical-padding
        $main-container-primary-trailing-padding
        $main-container-vertical-padding 
        $main-container-primary-leading-padding;
    }

    .side_view {
      padding: $main-container-vertical-padding
        $main-container-secondary-horizontal-padding
        $main-container-vertical-padding
        $main-container-secondary-horizontal-padding;
    }

    .close_button {
      top: 2rem;
      right: 2rem;
    }
  }
}

:export {
  main-container-vertical-padding: $main-container-vertical-padding;
  main-container-primary-leading-padding: $main-container-primary-leading-padding;
  main-container-primary-trailing-padding: $main-container-primary-trailing-padding;
  main-container-secondary-horizontal-padding: $main-container-secondary-horizontal-padding;
}
