@import "../../styles/ColorPallete.module.scss";
@import "../../styles/TextStyles.module.scss";

.cartSummaryRows {
  font-size: 0.875rem;
  font-family: $font-family;
  font-style: normal;
  font-weight: 350;
  line-height: 1.063rem;
  letter-spacing: -0.009rem;

  p {
    color: $color-side-panel-body;
  }

  .cartSummaryPrice p {
    color: $color-side-panel-body-numerals;
  }
}
