// Global Color Pallete
//
// This file contains definitions for the global color pallete used in the application.
//
// Do not define colors in other files, use this file instead, thus ensuring consistency and ease when changing the color pallete.
//

$color-accent: #7350FF;

// MARK: Texts
$color-title: #1A1A38;
$color-body: #1A1A38;
/// Product codes
$color-body-annotations: #62628A;   
/// Prices, quantities and other numeric values
$color-body-numerals: #000000;
/// Column headers
$color-subheading: #A6A7B3;
/// Annotations under labels
$color-caption: #A6A7B3;
// - Panels definitions. Side panels that have a secondary background color
/// Side Panel title text color
$color-side-panel-title: $color-title;
/// Side Panel body text color
$color-side-panel-body: #212240;
/// Side Panel quantities and other numeric values
$color-side-panel-body-numerals: $color-body-numerals;


// MARK: Actions
// - Buttons
$color-action-primary: $color-accent;
$color-action-disabled: $color-accent;       // TODO: The design doesn't consider a disabled state for the actions
$color-action-secondary: #8383AD;
$color-button-primary-bg: $color-accent;
$color-button-primary-text: #FFFFFF;
// - Buttons without background
$color-button-inline: $color-action-primary;
$color-button-inline-hover-region: #21224014;


// MARK: Backgrounds
$color-background-primary: #FFFFFF;
$color-background-secondary: #D9D9D9;


// MARK: Other Elements
// - Dividers
$color-divider: #21224029;                  // The design uses another color for the divider without transparency that results in the same appearance as this one, the code assumes this is the only declared color
$color-divider-side-panel: $color-divider;
// - Borders
$color-border-image: #CACAD1;

// MARK: Exports
:export {
    color-title: $color-title;
    color-body: $color-body;
    color-body-annotations: $color-body-annotations;
    color-body-numerals: $color-body-numerals;
    color-subheading: $color-subheading;
    color-caption: $color-caption;
    color-side-panel-title: $color-side-panel-title;
    color-side-panel-body: $color-side-panel-body;
    color-side-panel-body-numerals: $color-side-panel-body-numerals;
    color-action-primary: $color-action-primary;
    color-action-disabled: $color-action-disabled;
    color-action-secondary: $color-action-secondary;
    color-button-primary-bg: $color-button-primary-bg;
    color-button-primary-text: $color-button-primary-text;
    color-background-primary: $color-background-primary;
    color-background-secondary: $color-background-secondary;
    color-divider: $color-divider;
    color-divider-side-panel: $color-divider-side-panel;
    color-border-image: $color-border-image;
}